.nav{
    display: flex;
    justify-content: space-between; 
}

.nav h1{
    color: blue;
    margin: 0;
    font-size:40px;
}

.nav .nav-search{
    flex:1;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:  5px;
}

.nav .nav-search input{
    flex:1;
    color: black;
    border: 1px solid black;
    height: 35px;
    border-right: none;
}   